
<br>
<div class="container">
    <h3 *ngIf="products.length <1" class="text-info"> No Products Found. </h3>
    <table *ngIf="products.length >0" class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>brandName</th>
          <th>modelName</th>
          <th>Price</th>
          <th>color</th>
          <th>quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of products; let i=index'>
          <td>{{product.id}}</td>
          <td>{{product.brandName}}</td>
          <td>{{product.modelName}}</td>
          <td>{{product.price}}</td>
          <td>{{product.color}}</td>
          <td>{{product.quantity}}</td>
          <td><button>Buy</button></td>
          <td><button>Add to Cart</button></td>

        </tr>
      </tbody>
    </table>
  </div>